*.DS_Store
*.LSOverride
Thumbs.db
.bundle
/.config/Duplicati
/.config/Spicetify/Backup
/.config/Spicetify/Extracted
/.config/argocd
/.config/github-copilot
/.config/grammarly-languageserver
/.config/helm
/.config/iterm2
/.config/lazygit/state.yml
/.config/nvim/lazy-lock.json
/.config/raycast
.gnupg/private-keys-v1.d
.gnupg/.#lk0x00006000001587e0.PL-OLX-C02FP6ZLML85.13177
.gnupg/.#lk0x00006000015b0030.PL-OLX-C02FP6ZLML85.27342
.gnupg/.#lk0x0000600001f6c8d0.PL-OLX-C02FP6ZLML85.31551
.gnupg/.#lk0x0000600003cd0150.PL-OLX-C02FP6ZLML85.63955
.gnupg/.#lk0x0000600003d28570.PL-OLX-C02FP6ZLML85.84867
.gnupg/pubring.kbx
.gnupg/pubring.kbx~
.gnupg/trustdb.gpg
