[user]
name = Alexander Nabokikh
email = alexander.nabokikh@olx.pl
signingkey = CD172433
[tag]
gpgSign = true
[core]
pager = delta
[color]
branch = auto
diff = auto
interactive = auto
status = auto
[interactive]
diffFilter = delta --color-only
[init]
defaultBranch = main
[delta]
side-by-side = true
navigate = true
light = false
width = 280
[diff]
colorMoved = default
[web]
browser = firefox
[credential]
helper = osxkeychain
[push]
default = simple
[merge]
conflictstyle = diff3
[pull]
rebase = true
[commit]
gpgSign = true
