[user]
  name = Alexander Nabokikh
  email = alexander.nabokikh@olx.pl
  signingkey = CDD891A6
[tag]
  gpgSign = true
[core]
  editor = vim
  excludesfile = ~/.gitignore
  autocrlf = input
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[init]
  defaultBranch = master
[web]
  browser = firefox
[credential]
  helper = osxkeychain
[push]
  default = simple
[merge]
  tool = ydiff
[difftool]
  tool = ydiff
  prompt = false
[alias]
  c = commit
  ca = commit -a
  cm = commit -m
  cam = commit -am
  d = diff
  dc = diff --cached
  l = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit
[pull]
  rebase = true
[commit]
  gpgSign = true

