*.DS_Store
*.LSOverride
Thumbs.db
.bundle
/.config/argocd
/.config/github-copilot
/.config/grammarly-languageserver
/.config/iterm2
/.config/lazygit/state.yml
/.config/nvim/lazy-lock.json
/.config/raycast
/.config/helm
