* {
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 13px;
  min-height: 0px;
  background-color: transparent;
}

window#waybar {
  background: rgba(21, 18, 27, 0.5);
  color: #c2c5d4;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
}

#workspaces button {
  padding: 3px;
  color: #c2c5d4;
  background-color: transparent;
  margin: 0 2px;
}

#workspaces button.focused,
#workspaces button.urgent {
  background-color: rgba(255, 255, 255, 0.1);
  color: #e1e1e1;
}

#workspaces button.active {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#clock,
#language,
#battery,
#network,
#pulseaudio,
#bluetooth,
#workspaces {
  padding: 3px 8px;
  color: #c2c5d4;
  margin: 0px;
}

#workspaces {
  margin-left: 3px;
}

#battery {
  margin-right: 3px;
}
