* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 14px;
  min-height: 10px;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #c2c5d4;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border: none;
}

#workspaces button {
  padding: 5px;
  color: #c2c5d4;
  background-color: transparent;
  box-shadow: inset 0 -3px transparent;
  border: none;
  margin: 0 3px;
}

#workspaces button.focused,
#workspaces button.urgent {
  background-color: rgba(255, 255, 255, 0.1);
  color: #e1e1e1;
}

#workspaces button.active {
  color: #c2c5d4;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

#taskbar button {
  margin: 0 3px;
}

#clock,
#language,
#battery,
#network,
#pulseaudio,
#bluetooth,
#taskbar,
#workspaces {
  padding: 3px 8px;
  color: #c2c5d4;
  background-color: rgba(50, 50, 50, 0);
  border: none;
  margin: 0px;
}

#language,
#network,
#pulseaudio,
#bluetooth,
#battery {
  font-size: 15px;
}
