/* Base styles for all elements */
* {
  border: none; /* Removing borders for a cleaner look */
  border-radius: 0; /* Uniform border-radius */
  font-family: "Cantarell", sans-serif; /* Switching to standard GNOME font */
  font-weight: bold; /* Uniform font weight */
  font-size: 14px; /* Base font size */
  min-height: 10px; /* Minimum height for elements */
}

/* Styling for the Waybar window */
window#waybar {
  background: rgba(21, 18, 27, 0); /* Transparent background */
  color: #c2c5d4; /* Base text color */
}

/* Tooltip customization */
tooltip {
  background: #1e1e2e; /* Tooltip background */
  border-radius: 10px; /* Rounded corners for tooltips */
}

/* Workspace buttons */
#workspaces button {
  padding: 5px; /* Uniform padding */
  color: #c2c5d4; /* Consistent text color */
  background-color: transparent; /* Clear background */
  margin: 0 3px; /* Margins for spacing */
}

/* Workspace button states */
#workspaces button.focused,
#workspaces button.urgent {
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Background for focused/urgent */
  color: #e1e1e1; /* Text color for focused/urgent */
}

#workspaces button.active {
  color: #ffffff; /* Active button text color changed to white */
  background-color: rgba(255, 255, 255, 0.3); /* Active button background */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Border for active buttons */
  border-radius: 3px; /* Rounded corners for active buttons */
}

/* Style for empty workspace buttons */
#workspaces button.empty {
  opacity: 0.5; /* Making empty workspaces more transparent */
}

/* Taskbar button margins */
#taskbar button {
  margin: 0 3px; /* Consistent margin */
}

/* Styling for elements like clock, language, etc. */
#clock,
#language,
#battery,
#network,
#pulseaudio,
#bluetooth,
#taskbar,
#workspaces {
  padding: 3px 8px; /* Uniform padding */
  color: #c2c5d4; /* Consistent text color */
  background-color: rgba(50, 50, 50, 0); /* Transparent background */
  margin: 0px; /* No margin */
}

/* Font size adjustment for specific elements */
#language,
#network,
#pulseaudio,
#bluetooth,
#battery {
  font-size: 15px; /* Slightly larger font size for clarity */
}
